
  <body>
    
<header>    
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Acerca de nosotros</h4>
          <p class="text-muted">Aquí va información sobre quienes somos y a qué nos dedicamos</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contáctenos</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Seguinos en Twitter</a></li>
            <li><a href="#" class="text-white">Like en Facebook</a></li>
            <li><a href="#" class="text-white">Escribinos un correo</a></li>
            <li><a href="#" class="text-white">Nuestro whatsapp</a></li>
            <li><a href="#" class="text-white">Seguinos en Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">       
        <strong>Estudio Jurídico</strong>
      </a>     
        <button class="navbar-toggler" style="margin: 10px;" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nombre de Estudio Jurídico</h1>
        <p class="lead text-muted">Información general sobre que hacemos y como trabajamos</p>
        <p>
          <a href="#" class="btn btn-primary mr-2 my-2">Envianos un Whatsapp</a>
          <a href="#" class="btn btn-secondary my-2">Nuestro Instagram</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Servicio 1</text></svg>

            <div class="card-body">
                <p class="card-text">Aquí va un breve detalle de nuestro servicio. Para saber más clic en el botòn "Más información"</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Más información</button>                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Servicio 2</text></svg>

            <div class="card-body">
              <p class="card-text">Aquí va un breve detalle de nuestro servicio. Para saber más clic en el botòn "Más información"</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Más información</button>               
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Servicio 3</text></svg>

            <div class="card-body">
                <p class="card-text">Aquí va un breve detalle de nuestro servicio. Para saber más clic en el botòn "Más información"</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Más información</button>                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Volver a pagìna principal</a>
    </p>
    <p class="mb-1">Este sitio es un bosquejo de muestra para el cliente</p>    
  </div>
</footer>


    

      
  </body>

